@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Space+Grotesk:wght@500&display=swap');
body, ::placeholder{
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    background-image:url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 30% auto;
}
.cards{
    position:absolute;
}
.card-number-display{
    font-size: 2em;
    text-align:center;
    margin-bottom: 0;
    font-weight:400;
}
.date-display{
    display:flex;
    align-items: baseline;
    text-align: right;
    padding-left:0.95em;
    font-weight:400;
}
.expiry-display{
    margin-bottom:0;
    padding-bottom:0;
    font-weight:400;
}
.card-holder-display{
    font-weight:400;
    text-transform:uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.flex-one{
    display:flex;
    justify-content: space-between;
    padding-left:0.95em;
    margin:0 1.2em 0 0.68em;
    padding-top:0;
}
#card-one{
    background-image: url("./images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size:auto;
    height:12.5em;
    width:25em;
    position:relative;
    top:3em;
    left:30%;
    padding:25px;
    color: #fff;
}
.card-logo{
   padding-left:0.95em;
   margin-bottom:2em;
}
.card-back{
    background-image: url("./images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size:cover;
    height:12.5em;
    width:25em;
    position:relative;
    top:5em;
    left:45%;
    padding:23px;
}
.cvc-display{
    margin:5.5em 0 0 21.6em;
    color: #fff;
}
.completed{
    display:flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.completed h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-bottom: 0px;
    margin-bottom:0px;
}
.completed p{
    color:hsl(279, 6%, 55%);
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-top: 5px;
    padding-bottom:10px;
}
.card-form{
    position:relative;
    left:45em;
    top:15em;
    width:370px;
}
#month-el, #year-el{
    width:23%;
    padding:8.5px 10px;
    margin-right:3px;
    border-radius:7px;
}
input{
    width:80%;
    padding:8.5px 10px;
    border-radius: 7px;
    border:0.3px solid lightgray ;
}
.attribution{
    position:fixed;
    bottom:0;
    right:40%;
}
.card-holder-name,.cardholder-number{
    margin:7px 0 7px 0; 
}
.cvc{
    padding-left:2px;
    margin-left:-60px;
}
#hidden-el{
    width:100%;
}
.expiry-details{
    width:80%;
    padding-top:10px;
    display:flex;
    justify-items: baseline;
}
label{
    color:hsl(278, 68%, 11%);
    font-size:13px;
    font-weight:600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.confirm,.continue{
    width:85%;
    margin-top:20px;
    padding:14px 10px;
    border-radius: 7px;
    background-color:hsl(278, 68%, 11%);
    color:white;
    border:none;
}
.card-form{
    margin-left:4.5em;
}

@media screen and (max-width: 768px) {
    body{
        background-image: url(./images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size:500px auto;
        overflow-x: hidden;
    }
    .card-form{
        position:relative;
        left:-1.5em;
        top:25em;
        width:325px;
        padding-bottom:40px;
    }
    #card-one{
        background-image: url("./images/bg-card-front.png");
        background-repeat: no-repeat;
        background-size:cover;
        height:10em;
        width:21em;
        position:relative;
        top:11em;
        left:2%;
        padding:25px;
        color: #fff;
    }
    .card-back{
        background-image: url("./images/bg-card-back.png");
        background-repeat: no-repeat;
        background-size:cover;
        height:10em;
        width:21em;
        position:relative;
        top:-10em;
        left:7%;
        padding:23px;
        z-index: -1;
    }
    .card-number-display{
        font-size: 1.5em;
        text-align:center;
        margin-bottom: 0;
        font-weight:400;
        margin-top:-10px;
    }
    .date-display{
        display:flex;
        align-items: baseline;
        text-align: right;
        padding-left:0.95em;
        font-weight:400;
    }
    .expiry-display{
        margin-bottom:0;
        padding-bottom:0;
        font-weight:400;
    }
    .card-holder-display{
        font-weight:400;
        text-transform:uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .flex-one{
        display:flex;
        justify-content: space-between;
        padding-left:0.95em;
        margin:0 1.2em 0 0.68em;
        padding-top:0;
    }
    .attribution{
        display:none;
    }
    .cvc-display{
        margin:4.5em 0 0 15em;
        color:#fff;
    }
    .completed{
        display:flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin-left:-60px;
    }
}
